[submodule "kenginecore"]
	path = KEngineCore
	url = https://theK42@bitbucket.org/theK42/kenginecore.git
[submodule "kengine2d"]
	path = KEngine2d
	url = https://theK42@bitbucket.org/theK42/kengine2d.git
[submodule "kenginemac"]
	path = KEngineMac
	url = https://theK42@bitbucket.org/theK42/kenginemac.git
