[submodule "KEngineCore"]
	path = KEngineCore
	url = git@bitbucket.org:theK42/kenginecore.git
[submodule "KEngine2D"]
	path = KEngine2D
	url = git@bitbucket.org:theK42/kengine2d.git
[submodule "KEngineMac"]
	path = KEngineMac
	url = git@bitbucket.org:theK42/kenginemac.git
[submodule "KEngineWindows"]
	path = KEngineWindows
	url = git@bitbucket.org:theK42/kenginewindows.git
[submodule "KEngineCurses"]
	path = KEngineCurses
	url = git@bitbucket.org:theK42/kenginecurses.git
